# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
myenv/
.venv/
env/

# Environment files
.env
.env.*
!.env.example

# Django
*.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
